 <!-- //these tags can be used whenever its required to stop the files from being redundant%> -->
<%- include('header'); -%>

<h1 style="color:purple">About Page</h1>
<p style="color:purple">
  TO_DO_LIST is the used to write down the activities or any tasks which one individual wants to perform in a single day.<br />
  This can be very important tool for students or even professionals to plan their work and do it on time.
  Here we have created a very useful app website for all those people who struggles with planning or management of time.

  Hope this will be as useful to you as it is to the other millions of people who are alreay using it.
<br /><br /><br /><br />
  Enjoy using it!
  </p>
<%- include('footer'); -%>
